body {
  margin: 0;
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f5f2;
}

* {
  box-sizing: border-box;
}
